@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap);

body {
    background: #cefff9;
    background: linear-gradient(90deg, rgb(255 251 206) 0, rgb(241 255 233) 48%, rgb(250 252 229) 100%)
}

.shusree-font {
    font-family: shusree, Arial, sans-serif !important
}

.safeArea {
    max-width: 1300px;
    margin: auto
}

.overflowhidden {
    overflow: hidden
}

.ashcolor {
    background: #f3f4f8
}

.clearboth {
    clear: both
}

a:hover {
    color: #54bfb9 !important;
    text-decoration: none
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear
}

.wrap {
    display: inline-block
}

.top-header {
    display: block;
    background-color: #fa8bff;
    background-image: linear-gradient(45deg, #fa8bff 0, #2bd2ff 52%, #2bff88 90%)
}

.top-bar {
    margin: 0;
    padding: 5px 0
}

.topaddress {
    height: 9px
}

.topaddress li {
    list-style: none;
    display: inline-block
}

.topaddress li a {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    float: left;
    text-decoration: none
}

.right-top-bar {
    float: right;
    margin: 0
}

.top-menu li {
    display: inline-block
}

.top-menu li a {
    display: block;
    font-size: 12px;
    line-height: 30px;
    padding: 0 8px;
    text-align: left;
    color: #333
}

.top-menu-toggle {
    display: none
}

.sitebranding {
    display: block
}

.logo-area {
    display: inline-block;
    padding: 10px 0;
    float: left;
    width: 320px
}

.logo-area img {
    width: 91%
}

.main-logo {
    width: 100px;
    display: inline-block;
    overflow: hidden
}

.main-logo img {
    width: 100%;
    overflow: hidden
}

.sitetitleslogan {
    display: inline-block;
    overflow: hidden
}

.sitetitle {
    display: inline-block;
    font-size: 28px
}

.siteslogan {
    display: inline-block;
    font-size: 11px
}

.search-product {
    display: inline-block
}

.search-product input {
    padding: 9px 14px;
    border: 2px solid #1dc1b1;
    border-radius: 5px 0 0 5px
}

.search-product button {
    padding: 11px 29px;
    color: #fff;
    background: #1dc1b1;
    outline: 0;
    border: none;
    border-radius: 0 5px 5px 0
}

.wishList {
    display: inline-block;
    font-size: 25px;
    position: relative;
    margin-right: 12px;
    color: #333;
    cursor: pointer
}

.wishList span {
    font-size: 10px;
    background: #1dc1b1;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding: 0 4px;
    position: absolute;
    color: #fff;
    top: -4px;
    right: -12px
}

.cart {
    font-size: 28px;
    display: inline-block;
    margin-right: 13px;
    position: relative;
    color: #333;
    cursor: pointer
}

.cart span {
    font-size: 10px;
    background: #1dc1b1;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding: 0 4px;
    position: absolute;
    color: #fff;
    top: -4px;
    right: -12px
}

.totalamount {
    display: inline-block
}

.totalamounttext {
    font-size: 14px;
    display: block;
    margin-bottom: -8px
}

.totalamountvalue {
    font-size: 12px
}

.mainNav {
    display: block;
    color: #fff;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    border-top: .1px solid #ddd;
    border-bottom: .1px solid #ddd;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0, #c850c0 46%, #ffcc70 100%)
}

.mainNav ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: -41px
}

.mainNav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px
}

.mainNav ul li a {
    color: #fff;
    font-size: 20px
}

.advertisement-banner {
    padding: 20px 0;
    background-attachment: fixed;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0, #80d0c7 100%)
}

.advertisement-banner img {
    width: 100%
}

.slideAndCatagory {
    padding: 10px 0;
    background-color: #08aeea;
    background-image: linear-gradient(0deg, #08aeea 0, #2af598 100%)
}

.catalog-menu-box {
    display: none;
    width: 20%;
    height: 100%
}

.hide-menu-toggle {
    outline: 0;
    display: inline-block;
    float: left;
    border: none;
    background: 0 0;
    font-size: 22px
}

.menu-item {
    list-style: square;
    color: #1dc1b1
}

.sliderContainer {
    display: inline-block;
    width: 100%;
    margin: 10px 0
}

.header-right {
    text-align: right;
    display: inline-block;
    float: right;
    padding-top: 22px;
    padding-bottom: 22px
}

.e-commerce-container {
    padding: 15px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align-last: center;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0, #b721ff 100%)
}

.products-container {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    display: inline-block;
}

.products {
    margin: 5px auto;
    transition: .3s box-shaow;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #ccc
}

.products:hover {
    box-shadow: inset 0 0 8px 0 #938f8f
}

.products:hover > .add-to-cart {
    display: block;
    opacity: 1;
    color: #54bfb9
}

.products:hover > .book-view {
    opacity: 1
}

.products:hover:after {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    z-index: 1
}

.product-thumbnail-img {
    overflow: hidden;
    margin: 5px auto
}

.product-thumbnail-img img {
    width: 100%
}

.book-title {
    font-size: 19px
}

.book-writer {
    font-size: 13px
}

.book-previous-price {
    font-size: 18px;
    color: #686868;
    margin-right: 7px
}

.book-present-price {
    font-size: 15px;
    color: #000;
    font-weight: 500
}

.book-view {
    display: block;
    opacity: 0;
    width: 100%;
    padding: 3px 5px;
    background: #54bfb9;
    color: #fff;
    z-index: 1111;
    position: absolute;
    bottom: 0;
    left: 0
}

.book-view:hover {
    color: #fff !important;
    z-index: 1111
}

.add-to-cart {
    position: absolute;
    background: #333;
    padding: 8px 10px;
    font-size: 18px;
    opacity: 0;
    text-align: center;
    transition: .4s opacity;
    transition-delay: .2s;
    top: 40%;
    left: 50%;
    color: #54bfb9;
    border-radius: 2px;
    transform: translate(-50%, -50%);
    z-index: 11
}

.add-to-cart:hover {
    color: #fff !important
}

.sale {
    position: absolute;
    top: -26px;
    left: -21px;
    width: 34%
}

.sale img {
    width: 100%
}

.newsEventSection {
    background-size: cover;
    padding: 10px 0;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #ff3cac 0, #784ba0 50%, #2b86c5 100%)
}

.newsEventContainer {
    padding: 12px 3px;
    margin: 10px auto;
    background: #fff
}

.news-con {
    margin: 12px 0
}

.news {
    background: #f1ffeb;
    padding: 16px;
    box-shadow: 0 0 9px 0 #d9cbcb;
    background: #6ffcea;
    background: linear-gradient(90deg, rgb(179 219 248), rgb(255 255 255), rgb(140 232 252))
}

.news-thumbnail-img {
    width: 98%;
    margin: 3px auto
}

.news-thumbnail-img img {
    width: 100%
}

.news-time {
    text-align: center;
    color: #333;
    margin: 4px 0
}
.news-description{
    height: 198px;
    overflow: hidden;
}
.news-title {
    font-size: 25px;
    text-align: center
}
.readmorepost {
    padding: 10px;
    background: #08b6b6;
    color: #fff;
    border: none;
    outline: 0;
    margin: 10px auto;
    display: block;
    width: 50%;
    border-radius: 4px;
    text-align: center
}

.readmorepost:hover {
    color: #000 !important
}

.footerTopContainer {
    width: 100%;
    padding: 10px 0;
    background-color: #74ebd5;
    background: linear-gradient(90deg, #6ffcea 0, #ed83d0 45%, #25cff2 100%)
}

.footertopcontainer {
    background: #fff
}

.paymetmethod h4 {
    margin: 7px 0
}

.paymetmethod img {
    margin-top: 10px;
    width: 30%
}

.bottomLogo img {
    width: 60%;
    margin: auto;
    display: block
}

.bottomaddress li {
    list-style: none;
    margin: 6px 0
}

.googleMap {
    padding: 10px 3px
}

.scialArea {
    padding: 10px 3px
}

.footerBottomContainer {
    width: 100%;
    padding: 19px;
    background: rgb(170 165 254);
    background: linear-gradient(90deg, rgb(60 149 153) 0, rgb(2 148 192) 45%, rgb(44 113 127) 100%);
    color: #fff
}

.copyright {
    text-align: center
}

.developer {
    display: inline-block;
    float: right
}

.signupMainContainer {
    font-family: 'Roboto Condensed', sans-serif;
    background: #efefef;
    padding: 10px 0;
}

.signupcontainer {
    background: #fff;
    padding: 26px 10px;
    margin: 15px auto;
    width: 80%;
    box-shadow: 0 2px 5px;
    border-radius: 4px
}

.headsignupcontainer {
    margin: 10px auto;
    padding: 10px;
    width: 80%
}

.createaccount {
    display: inline-block;
    float: left;
    margin: 10px 0;
    padding: 5px 26px;
    font-family: 'Roboto Condensed', sans-serif
}

.alredyaccount {
    display: inline-block;
    float: right;
    margin: 10px 0;
    padding: 5px 26px
}

.alredyaccount a {
    color: #00f
}

.leftSide {
    display: inline-block;
    padding: 5px 26px
}

.emailAddress {
    margin: 12px 0
}

.emailAddress input {
    padding: 6px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.EmailVerficationCode input {
    padding: 6px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.Password input {
    padding: 6px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.Birthday {
    width: 64%;
    display: inline-block
}

.Birthday input {
    padding: 6px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.Gender {
    width: 35%;
    display: inline-block
}

.Gender select {
    padding: 8.5px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.rightSide {
    float: right;
    padding: 5px 26px
}

.Fullname input {
    padding: 6px 14px;
    outline: 0;
    border: 1px solid #08c6a3;
    width: 100%
}

.signupBtn {
    margin: 17px 0
}

.signupBtn input {
    padding: 6px 14px;
    outline: 0;
    color: #fff;
    background: #08c6a3;
    width: 100%;
    border: none;
    margin: 10px 0;
    border-radius: 3px
}

.facebooksignup {
    display: inline-block;
    width: 49%
}

.facebooksignup button {
    padding: 7px;
    outline: 0;
    background: #4064ac;
    color: #fff;
    border: none;
    margin: 10px 0;
    border-radius: 3px;
    width: 100%
}

.googlesignup {
    display: inline-block;
    width: 48%
}

.googlesignup button {
    padding: 7px;
    outline: 0;
    color: #fff;
    background: #f2773d;
    border: none;
    margin: 10px 0;
    border-radius: 3px;
    width: 100%
}

/* shop page */
.row.left{
    display: inline-block;
}
.filterTaka{
    box-shadow: 0 4px 6px -3px #9c9c9c;
    display: inline-block;
    background: #fff;
    border-radius: 1px;
    float: right;
    padding: 3px;
}
.filterTaka input{
    width: 27%;
    padding: 5px 1px;
    margin: 4px 1px;
    outline: none;
    color: #11867b;
    background: none;
    border: 1px solid #12897d;
    border-radius: 2px;
}